<div class="row">

    <div>Add new Address Book entry</div>

</div>

<div ng-controller="AddEntryController">
<form class="form-horizontal">

    <div class="form-group">
        <label class="col-lg-2 control-label" for="firstName">First name:</label>
        <div class="col-lg-3">
            <input class="form-control" id="firstName" type="text" ng-model="address.firstName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label" for="lastName">Last name:</label>
        <div class="col-lg-3">
            <input class="form-control" id="lastName" type="text" ng-model="address.lastName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label" for="addr1">Address 1:</label>
        <div class="col-lg-3">
            <input class="form-control" id="addr1" type="text" ng-model="address.addressLine1">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label" for="city">City:</label>
        <div class="col-lg-3">
            <input class="form-control" id="city" type="text" ng-model="address.city">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label" for="zip">Zip:</label>
        <div class="col-lg-3">
            <input class="form-control" id="zip" type="text" ng-model="address.zipPostCode">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button class="btn btn-default" ng-click="save()">Save</button>
        </div>
    </div>
</form>
</div>